<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer contraseña</title>
  <link rel="stylesheet" href="/css/panel/login.css">
</head>

<body>
  <div class="login">
    <h1>Restablecer contraseña</h1>
    <form id="reset-form">
      <div class="input-group">
        <label>
          Nueva contraseña:
          <input type="password" id="password" placeholder="********" required>
        </label>
      </div>
      <div class="input-group">
        <label>
          Confirmar contraseña:
          <input type="password" id="confirm" placeholder="********" required>
        </label>
      </div>
      <button type="submit">Guardar nueva contraseña</button>
    </form>
    <p id="mensaje" style="margin-top:10px;"></p>
  </div>

  <script src="/js/panel/reset.js"></script>
</body>
</html>
