<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> blog de usuario </title>
    <link rel="stylesheet" href="../static/css/blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <main class="main-content">
        <h2>Blog</h2>
        <textarea placeholder="Escribi aca"></textarea>    
    </main>
    <aside class="sidebar">
        <h2>OPCIONES</h2>
        <nav>
            <ul>
                <li>Aa</li>
                <li>Fuente</li>
                <li>color</li>
                <li>link</li>
                <li>Titulo</li>
                <li>Subtitulo</li>
                <li>Encabezado 1</li>
                <li>Encabezado 2</li>
                <li>Encabezado 3</li>
                <li>Cargar imagen</li>
            </ul>
        </nav>
    </aside>    
</body>