<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> login de usuario </title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login">
        <h1>Iniciar Sesión</h1>
        <form>
            <div class="input-group">
                <label>
                    Email: 
                    <input type="email" id="email" name="email" placeholder="tu@email.com">
                </label>
            </div>
            <div class="input-group">
                <label> 
                    Contraseña:
                    <input type="password" id="password" name="password" placeholder="********" required>
                </label>
                <p>¿Olvidaste tu contraseña? <a href="forgot.html">Recuperar clave</a></p>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
        <p>¿No tenes cuenta? <a href="register.html">Regístrate aca</a></p>
        <p id="errorMsg" style="color:red; font-weight:600; text-align:center;"></p>
    </div>

    <script src="../static/js/login.js"></script>

</body>